<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% extends 'base.html'%}
{% block title%}

<h1>LOGI  IN TO ADD COMMENT OR ADD PITCH</h1>

{%endblock%}

{% block content %}
<div class="container"> 
   
   

      <form action="" method="post">


        {{form.hidden_tag()}}
        
        

        <table>

          <th>

         <tr>
           <td>Title</td>
          <td >{{form.title(size = 50)}}</td><br> <br> 
        </th>
      </tr> 
        <tbody>

         
         <tr>
          <td>Review</td>
         <td>{{form.review(size = 50)}}</td>

        </tr>
     
        <tr>
            <td>Submit</td>
           <td >{{form.submit()}}</td>
  
          </tr>
        </tbody>
        </table>
      </form>
      
    
     </div>
     <div clas="col-md-2"> </div>
    </div>
</div>

{%endblock%}