{% extends 'base.html'%}

{% block title%}

<h1 class="title">THE NEXT BIG THING</h1>

{%endblock%}



{% block content%}
 


<ul>
    <section>
        {%if current_user.is_authenticated%}
<h1>Hello {{current_user.username}} </a>   </h1>  
{%endif%}
    {%block sidebar%}
    <aside>
       
         <p>
            In life, you only have 60 seconds to impress someone. 1 minute can make or break you. 
            How do we make sure that you use your 1 minute to actually say something meaningful?.Use this
            sight to post,view and comment on amazing ideas.This is how we make the next big thing

         </p>
         </aside>
         {%endblock%}
        </section>

    <h4> PITCHES </h4>
   
  
    {% for bm in new_bookmarks%} 
    <ul class="list-group">

        <h4> {{bm.title}}</h4>


    
    
        <li class="list-group-item">{{bm.review}}</li>


    </ul>
  

  
  
   
   

     


    {% endfor %}
   










<script src="../static/js/main.ts"></script>
<script src="../static/js/main.js"></script>

{%endblock%}



<script>


var  count = (function(){

var counter = 0;

return function() {return counter++}
})()

function displaycount(){
document.getElementById("carrier").innerHTML = count();
}

</script>