{% extends 'base.html'%}
{% block title%}

<h1>{{ user.username}}'s Profile</h1>

{%endblock%}


{% block content %}
<div class="container">
<div class="row">

  <div class="col-md-4">
 

  

  

  
  <h1>Username: {{current_user.username}}  </h1> 
  <h1> Email :{{current_user.email}}  </h1> 
  {% if user.bio %}
  <h3>Bio: {{user.bio}}</h3>
  {% endif %}

    <div class="col-md-4">

    <!-- {% if user.profile_pic_path %}
   
    {%else%}
    <p>No profile picture</p>
    {% endif %} 
 </div>
</div>
{% if user == current_user %}


  <input type="file"  name="photo" class="form-control" required>
  <input type="submit">
</form>
  {% endif %}
</div> -->
<form action="" method ="post" enctype = "multipart/form-data">  






</div>
{% if user == current_user %}
<a href="{{url_for('update_profile',uname=user.username)}}">BIO</a>
{% endif %}  
{% endblock %}
 </div>
</form>