{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Review</title>
</head>
<body>

    
    <h2> Movie Reviews  </h2>
    
    
<ul>
    {% for popular_movie in popular %}
  

     {{popular_movie.title}}
   
     <li> {{popular_movie.overview  }}</li><br><br>
     
   
 
{% endfor %}
</ul>



  
</body>
</html>